:root{
    --cinza-claro: rgb(182, 177, 177);
    --cinza-medio: rgb(131, 128, 128);
    --cinza-escuro: rgb(53, 50, 50);    
    --laranja-claro: rgb(228, 165, 106);
    --laranja-escuro: rgb(122, 64, 10);
    --vermelho-claro: rgb(202, 77, 72);
    --vermelho-escuro: rgb(114, 17, 14);
    --verde-claro: rgb(124, 170, 124);
    --verde-escuro: rgb(35, 78, 35);
    --branco: rgb(255, 255, 255);
}

::selection{
    background-color: initial;
}

*{
    padding: 0;
    margin: 0;    
    border: 0;
    box-sizing: border-box;

    text-decoration: none;
    text-align: center;
    font-size: 36px;
    font-family: monospace;
    color: var(--cinza-escuro);
}

.corpo-inicio, .corpo-pilha, .corpo-fila{
    background-color: var(--cinza-claro);    
    height: 100vh;
    width: 100vw;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.corpo-inicio{    
    flex-direction: column;    
}

.opcao{
    border: 2px solid var(--cinza-escuro);
    border-radius: 0.3rem;

    padding: 0.3rem;
    margin: 1rem;
    width: 5rem;
    height: 2rem;

    font-size: 1rem;
    transition: .7s;
}

.opcao:hover{
    background-color: var(--laranja-claro);
    border-color: var(--laranja-escuro);
    color: var(--laranja-escuro);

    transition: .7s;
}

.opcao:active{
    background-color: var(--laranja-escuro);
    color: var(--laranja-claro);

    transition: .7s;
}

/* ------------------------------------------------------------------------ */

.corpo-pilha, .corpo-fila{
    overflow-y: scroll;
    overflow-x: hidden;
    flex-wrap: wrap;
}

.subcorpo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0.2rem; 
}

.subcorpo-fila:last-of-type{
    align-items: center;
}

.interacoes-pilha, .interacoes-fila{       
    width: 95%;
    
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.interacoes-pilha{       
    justify-content: center;
}

.interacoes-fila{
    justify-content: space-around;
}

.textos{    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.titulo{
    padding: 0.2rem;
}

.titulo, .elemento-fila{
    width:100%;
}

.obs{
    min-width:5rem;
    font-size: 0.5rem;
}

.elemento-pilha, .elemento-fila{ 
    border-bottom: 3px solid var(--cinza-escuro);   
    padding: 0.2rem;

    background-color: transparent;
    outline: 0;    

    animation: piscando 1.5s infinite;
}

@keyframes piscando{
    from{ border-color: transparent; }
    to{ border-color: var(--cinza-escuro); }
}

.elemento-pilha:focus, .elemento-fila:focus{
    border-style: dashed;
    animation: none;
}

.obrigatorio{
    border-color: var(--vermelho-claro);
    animation: none;
}

.saiu{
    animation: saida 2s;
    border: 0;
    font-size: 1.5rem;
}

@keyframes saida{
    0%{color: var(--branco);}
    10%{color: var(--cinza-claro);}
    20%{color: var(--branco);}
    30%{color: var(--cinza-claro);}
    40%{color: var(--branco);}
    50%{color: var(--cinza-claro);}
    60%{color: var(--branco);}
    70%{color: var(--cinza-claro);}
    80%{color: var(--branco);}
    90%{color: var(--cinza-claro);}
    100%{color: var(--branco);}
}

.elemento-fila{ 
    margin: 1rem 0;
}

.elemento-pilha, .botao-pilha{
    height: 20%;
    width: 70%;
    
    margin-top: 1rem;
}

.botoes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
}

.botao-pilha, .botao-fila{
    display: flex;
    justify-content: center;
    align-items: center;

    border-width: 3px;
    border-style: solid;
    border-radius: 0.3rem;

    transition: .7s;
    font-size: 0.8rem;
    text-transform: capitalize;
}

.botao-pilha:hover, .botao-fila:hover{
    cursor: pointer;
    transition: .7s;
}

.botao-fila{
    width: 80%;
    margin: 0.2rem 0;    
}

.inserir{
    background-color: var(--verde-claro);
    border-color: var(--verde-escuro);
    color: var(--verde-escuro);
}

.remover{
    background-color: var(--vermelho-claro);
    border-color: var(--vermelho-escuro);
    color: var(--vermelho-escuro);
}

.esvaziar{
    background-color: var(--cinza-medio);
    border-color: var(--cinza-escuro);
    color: var(--cinza-escuro);
}

.inserir:hover{
    background-color: var(--verde-escuro);
    color: var(--verde-claro);
}

.remover:hover{
    background-color: var(--vermelho-escuro);
    color: var(--vermelho-claro);
}

.esvaziar:hover{
    background-color: var(--cinza-escuro);
    color: var(--cinza-medio);
}

/* ------------------------------------------------------------------------ */

.elementos-pilha, .elementos-fila{
    border: 3px dashed var(--cinza-escuro);
    display: flex;
    align-items: center;
}

.elementos-pilha{
    width: 80%;
    flex-direction: column;
    justify-content: end;    
}

.elementos-fila{
    width: 100%;
    height: 80%;  
    flex-direction: row;
    justify-content: flex-start;    
    flex-wrap: wrap;
}

.empilhado, .enfilado{
    background-color: var(--cinza-escuro);
    color: var(--cinza-claro);    

    border-color: var(--cinza-claro);
    border-style: solid;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;

    cursor: default;
    animation: novo 2s;
}

.empilhado{
    border-width: 0.05rem 0.1rem; 
    width: 100%;
    height: 10%;
}

.enfilado{ 
    border-width: 0.1rem; 
    width: 20%;
    height: 50%;
}

@keyframes novo{
    0%{ background-color: var(--cinza-claro); }
    50%{ background-color: var(--branco); color: var(--cinza-escuro); }
    100%{ background-color: var(--cinza-escuro); }
}

.elementos-cheio{
    border-color: var(--vermelho-escuro);
}

.elementos-cheio .empilhado, .elementos-cheio .enfilado{
    background-color: var(--vermelho-escuro);
    color: var(--vermelho-claro);
}

/* ------------------------------------------------------------------------ */

.inativo{
    opacity: 50%;   
}

.inativo:hover{
    cursor: not-allowed; 
}

.inativo-empilhar:hover, .inativo-enfilar:hover{ 
    background-color: var(--verde-claro);
    border-color: var(--verde-escuro);
    color: var(--verde-escuro);
}

.inativo-desempilhar:hover, .inativo-desenfilar:hover{ 
    background-color: var(--vermelho-claro);
    border-color: var(--vermelho-escuro);
    color: var(--vermelho-escuro);
}

.inativo-esvaziar:hover{ 
    background-color: var(--cinza-medio);
    border-color: var(--cinza-escuro);
    color: var(--cinza-escuro);
}

.sem-entradas{
    border: 0;
}

/* ------------------------------------------------------------------------ */

@media only screen and (min-width:650px){

    .corpo-inicio{
        flex-direction: row;        
    }

    .corpo-pilha{
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .textos{
        flex-wrap: nowrap;
    }

    .titulo, .elemento-fila{
        margin: 0 1rem;
    }

    .titulo{
        width: auto;
    }

    .elemento-fila{ 
        width: 7rem;
    }

    .botoes{ 
        height: 30%;
        flex-wrap: nowrap;
    }

    .botao-fila{
        min-width: 20%;
        margin: 0 0.5rem;
    }
    
    .corpo-fila{
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .subcorpo-fila:first-of-type{
        height: 60%;
    }

    .subcorpo-fila:last-of-type{
        height: 40%;
    }

    .elementos-pilha{
        width: 50%;    
    }

    .elementos-fila{
        width: 90%;   
        flex-wrap: nowrap;
    }

    .enfilado{
        border-width: 0.05rem 0.1rem; 
        width: 10%;
        height: 100%;
    }
}

@media only screen and ((max-width:509px) or ((min-width:650px) and (max-width:1000px))){

    *{
        font-size: 24px;
    }

    h1{
        font-size: 1.5rem;
    }

    .obs{
        font-size: 0.75rem;
    }

    .enfilado{
        font-size: 1rem;
    }

    .opcao{
        font-size: 1.5rem;
        border-radius: 0.6rem;
        padding: 0.6rem;
        margin: 1.5rem;
        width: 7.5rem;
        height: 3rem;
    }

    .botao-pilha, .botao-fila{
        font-size: 1rem;
        border-radius: 0.6rem;
    } 
}